@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.topnav {
  display:flex;
  justify-content:center;
  width: 100%;
  height: 50px;
  background-color: #174A5B;
  
}

.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.menu{
  /*padding-left: 10px;*/
  display:flex;
  justify-content:left;
  width: 5%;
  overflow:visible;
}
.home {
  width: 45%;
  /* TEXT*/
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.social {
  display:flex;
  justify-content:flex-end;
  width:50%;
}

.container-main {
  position: relative;
  width: 100%;
}

.container-main img {
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

/* Home Screen Buttons*/
.button {
  color: white;
}

.container-main .btn1 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 24px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
}

.container-main .btn2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 24px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
}

.container-main .btn3 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 24px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
}

.container-main .btn:hover {
  background-color: black;
}

/* form */
form {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

/*dropdown*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color:#174A5B;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn {
  background-color:#174A5B;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  }

.dropdown:hover .dropdown-content {
  display: block;
}


/* Funky Text Editing */
.h1-hp {
  padding: 5px;
  text-decoration: bold;
  font-family: 'Montserrat', san-serif;
  text-transform: uppercase;
  font-size:200%;
}

.h2-hp {
  padding: 0px;
  font-family: 'Quicksand', san-serif;
  text-transform: uppercase;
  font-size:100%;
}


/* Home Page Formatting */
.hp-row {
  display: inline;
}

.hp-lc {
  /*padding: 10px;*/
  float: left;
  width: 40%;
}

.hp-rc {
  /*padding: 10px;*/
  float: right;
  width: 60%;
  font-family: 'Quicksand', sans-serif;
}

.hp-rc-content {
  padding:50px;

}

@media screen and (maxwidth: 800px) {
  .hp-lc, .hp-rc {
    width:100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}